<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}
  {% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


{% block style %}
{% endblock style %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="static/assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
 
</head>

<body>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">

        <a href="/" class="scrollto">FARMING</a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
 
    {% if current_user.is_authenticated  %}
            <li class="buy-tickets"><a href="/sell">Sell</a></li>
            <li class="buy-tickets"><a href="/buy">Buy</a></li>
            <li class="buy-tickets"><a href="/suggestion">Suggestions</a></li>
            <li class="buy-tickets"><a href="/contact">Contact</a></li>
            <li class="buy-tickets"><a href="/about">About</a></li>
          <li class="buy-tickets"><a href="">Welcome {{current_user.username}}</a></li>
            <li class="buy-tickets"><a href="/logout">Logout</a></li>
          {% else %}
          <li class="buy-tickets"><a href="/login">Signin</a></li>
        
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
 <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
        <header>
            <div class="container">
                <div class="row row-header">
                    <div class="col-sm-6">
                        <h1>About</h1>
                        <p>The project is an overview for the management of the agricultural sector. This website helps the farmers to implement the profits for their growth and this reduces the work of the farmers. Our project provides the data about the essential availability of seeds, irrigation facilities, harvesting machineries and also seasonal crops. On the research of our project we found that 60% of the farmers had smart phones which sort out the problem and for the other remaining farmers there will be a provision of volunteers. Our main moto behind this project is that it helps the future India to meet their needs for the hunger.</p>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 align-self-center">
                        <img src="{{url_for('static', filename='images/farmerlogo.jpg')}}"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </header>
    </div>
  </section>
  <main id="main">


  {% block body %}
  

<div class="container">
    <div class="row row-content align-items-center">
        <div class="col-sm-4 order-sm-last col-md-3">
            <h3>Team Lead, Developer and Tester</h3>
        </div>

                <div class="col-sm-3">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                src="{{url_for('static', filename='images/lokesh.png')}}" alt="Lokesh">
                </div>
                <div class="col-sm-5 media-body align-self-center">
                    <h2 class="mt-0">Maddu Lokesh</h2>
                    <p class="d-none d-sm-block">Working as a developer for project development activity according to the specifications. And developed the code by resolving the debugs for the idea of project. He also helped to design the project according to requirements.</p>
                </div>
    </div>
    <div class="row row-content align-items-center">
        <div class="col-sm-4 order-sm-last col-md-3">
            <h3>Team Lead, Developer and Tester</h3>
        </div>

                <div class="col-sm-3">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                src="{{url_for('static', filename='images/lokesh.png')}}" alt="Lokesh">
                </div>
                <div class="col-sm-5 media-body align-self-center">
                    <h2 class="mt-0">Maddu Lokesh</h2>
                    <p class="d-none d-sm-block">Working as a developer for project development activity according to the specifications. And developed the code by resolving the debugs for the idea of project. He also helped to design the project according to requirements.</p>
                </div>
    </div>
</div>
  
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>


  {% endfor %}
  {% endif %}
  {% endwith %}
  {% endblock body %}


  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>


  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/superfish/superfish.min.js"></script>
  <script src="static/assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/js/main.js"></script>

  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


</body>

</html>
